streamlit==1.20.0
numpy==1.20.0
opencv-python-headless==4.4.0.40
tensorflow==2.8.0
tensorflow-estimator==2.8.0
keras==2.8.0
Keras-Preprocessing==1.1.2
scikit-learn
matplotlib
pandas==1.1.5
typing-extensions==4.3.0